<%- include partials/header.ejs %>

<div class="container-fluid mt-3">
    <h2 class="pageheaders"> Where it all began</h2>
    <div class="row p-3">
        <div class="col-sm-4 p-3 text-#770088">
            <img src="/images/IrishCrossFitAffiliates.PNG" alt="Map of the CrossFit affiliates in Ireland"  width="200px" height="300px"/>            
        </div>
        <div class="col-sm-8 p-3 text-dark">
            There are approximately 14,000 CrossFit affiliates, known as boxes, and an estimated 5 million
            athletes worldwide. It began in 2000 in California, in the US by Greg and Lauren Glassman. The first Games event was in
            2007. Today CrossFit prides itself on being an inclusive fitness model, as there are 37 different divisions from men’s,
            women’s and a multitude of adaptive divisions so no one will ever be excluded from participating in any CrossFit
            competition
        </div>
    </div>
    <h2 class="pageheaders"> What it's all about</h2>
    <div class="row p-3">        
        <div class="col-sm-8 p-3 text-dark">
            The year begins with the Open where over 400,000 athletes of differing abilities compete in their own boxes or at home
            for a chance to qualify for the CrossFit Quarterfinals, where the top 10% from the open can qualify. From there the top
            individual athletes and the top teams can advance to the CrossFit Semi-finals. There are 14 Semi Final events and the
            top 5 in each division from each event progresses to the CrossFit Games. Unfortunately, due to covid these events and
            number of participating athletes is constantly changing.
            <br /><br />
            With approximately 99 affiliates on the island of Ireland with 36 in the north and 63 in the south CrossFit is well
            known in Ireland. One of the most prominent Irish CrossFit athletes is Emma McQuaid, she first competed in 2014 in the
            open where she finished 6,480. She has since gone from strength to strength and finished 1st in the 2021 Semi Finals and
            12th in the CrossFit Games.
        </div>
        <div class="col-sm-4 p-3 text-#770088">
            <img src="/images/EmmaMcQ_Insta.jpg" alt="Image of Emma McQuaid"  width="200px" height="300px"/>
        </div>
    </div>
    <h2 class="pageheaders"> How to get involved</h2>
    <div class="row p-3">
        <div class="col-sm-4 p-3 text-#770088">
            <img src="/images/LoganAld_Insta.jpg" alt="Image of Logan Aldridge"  width="200px" height="300px"/>
        </div>
        <div class="col-sm-8 p-3 text-dark">CrossFit workouts takes the form of a WOD, Workout of the Day, all the boxes program a WOD every day so anyone can turn
            up and complete the workout. The best thing about WODs is how adaptable they are. There’s a scale for every movement so
            if you can’t do a movement for whatever reason, you can scale it, can’t do a pull up, do an assisted pull up, or a row
            or a push up. It encourages people to compete with themselves and not to worry about not being able to do a movement or
            being slow or what anyone else is doing.  
            <p>
                <br/>
                If Logan here can do it, so can you
            </p>
        </div>
    </div>
    <h4 class="pageheaders">Sign up today</h4>
    <p>Click <a href="/createAccount"> here </a> to find your nearest Affiliate and set up an account</p>
    <p></p>
</div>
 