<%- include partials/header.ejs %>
<br/>
<style>
    .mainTable {
        width: 900px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        color: #26466D;
        background-color: #FFF;
        /*#ECC3BF;*/
    }
</style>
<form id="mainForm">
    <div class="mainTable">
        <table class="SpaciousHalf">
            <tr>
                <td class="spaciousHalfTitleCell">New Account</td>
            </tr>
            <tr>
                <td>UserName:</td>
                <td><input class="form-control" type="text" name="userName" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control" type="password" name="password" /></td>
            </tr>
            <tr>
                <td>Confirm Password:</td>
                <td><input class="form-control" type="password" name="confirmpassword" /></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input class="form-control" type="text" name="email" /></td>
            </tr>
            <tr>
                <td>Confirm Email Address:</td>
                <td><input class="form-control" type="text" name="confirmemail" /></td>
            </tr>
            <tr>
                <td colspan="4"><button class="btn btn-primary" type="button">
                        <i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp; Create Account
                    </button><br /><br /></td>
            </tr>
        </table>
    </div>
</form>
<%- include partials/footer.ejs %>