<%- include partials/header.ejs %>
<style>
    .mainTable {
        width: 900px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        color: #26466D;
        background-color: #FFF;
        /*#ECC3BF;*/
    }
</style>
<div class="container">
<form action="/registerNewUser" method="post">
         <table class="SpaciousHalf"  style="width: 50%; margin: 35px 50px; font-size: 10pt; background-color: transparent;">           
            <tr>
                <td class="spaciousTitleCell">UserName:</td>
                <td><input class="form-control" type="text" name="userName" maxlength="25" placeholder="username" required /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input class="form-control"  type="password" maxlength="15" name="Password"  required /></td>
            </tr>
            <tr>
                <td>Email Address:</td>
                <td><input class="form-control" type="text" name="Email" placeholder="abc@example.com" required/></td>
            </tr>
            <tr>
                <td colspan="4" align="right"><br/><br />
                    <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Create Account
                        </a></button><br /><br />
                    </button><br /><br /></td>
            </tr>
        </table>
    </div>
</form>
</div>
<%- include partials/footer.ejs %>