<%- include partials/header.ejs %>
<style>
    .mainTable {
        width: 900px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        color: #26466D;
        background-color: #FFF;
        /*#ECC3BF;*/
    }
</style>
<div class="container">
        <button class="btn btn-default" type="button"><a href="/athleteProfile">Back</a></button><br /><br />
    </div>
<%- include partials/footer.ejs %>