<%- include partials/header.ejs %>
    <div class="mainTable">
      <br/>
        <div class="float-container">
          <div class="float-child">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="panel panel-default panel-pet">              
                <div class="panel-body">
                  <img alt="140x140" data-src="holder.js/140x140" class="img-rounded img-center" style="width: 100%;"
                    src="https://animalso.com/wp-content/uploads/2017/01/Golden-Retriever_6.jpg" data-holder-rendered="true">
                  <br /> <br />
                  <button class="btn btn-default btn-adopt" type="button" data-id="0"><a class="btn logInBtn" href="/athleteProfile"> Athlete Log In </a></button>
                  <br /><br />
                </div>
              </div>
            </div>
          </div>
          <div class="float-child">
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="panel panel-default panel-pet">
                <div class="panel-body">
                  <img alt="140x140" data-src="holder.js/140x140" class="img-rounded img-center" style="width: 100%;"
                    src="https://animalso.com/wp-content/uploads/2017/01/Golden-Retriever_6.jpg" data-holder-rendered="true">
                  <br /><br />
                  <button class="btn btn-default btn-adopt" type="button" data-id="0"><a class="btn logInBtn" href="/ViewJudgeProfile"> Judge Log In </a></button>
                  <br />
                </div>
              </div>
            </div>
          </div>
        </div>
        <br /><br />
        <button class="btn btn-default" type="button" data-id="0"><a href="/createAccount"> Create Account </a></button>
        <button class="btn btn-default" type="button" data-id="0"><a href="/createAccount"> Forgot Password </a></button>
    </div>
<%- include partials/footer.ejs %>