<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="mainTable">
      <h1><%= title %></h1>
      <form action="/" method="post">
        <div class="mainButtons">
          <a class="btn nftBtn"  href="/ViewAthleteProfile" > Athlete </a>
          <a class="btn nftBtn" href="/ViewAthleteProfile"> Judge </a>
          <div display="block-inline">
            <button type="submit" class="nftSmallBtn">New Athlete</button><button type="submit" class="nftSmallBtn">New Judge</button>
          </div>
        </div>
        <br/><br /><br /><br />
        <p>Test Submit Score</p>
        <label for="score">Score</label>
        <input type="text" name="score" />
        <button type="submit">Submit Score</button>
      </form>
    </div>
  </body>
</html>
