<%- include partials/header.ejs %>
<button class="btn btn-default" type="button"><a href="/athleteProfile">Back</a></button><br /><br />
<button class="btn btn-primary" type="button" style="float: right;" ><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Add </a></button><br /><br />