<%- include partials/header.ejs %>

<table class="SpaciousHalf" style="width: 50%; margin: 35px 50px; font-size: 10pt; background-color: transparent;">
    <tr>
        <td class="spaciousTitleCell">Title</td>
    </tr>
    <tr>
        <td>
            <input>
        </td>
    </tr>
    <tr>
        <td>
            <textarea class="form-control" rows="8" cols="40" required></textarea>
        </td>

    </tr>   
        <tr>
            <td>
                <button class="btn btn-primary" type="button"><i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Save
                    </a></button><br /><br />
            </td>
        </tr>
</table>