<%- include partials/header.ejs %>
<div class="container">
    <br />
<h2>CrossFit Tracker Privacy Policy</h2>
<br/>
<h2>GDPR</h2>
<p>
    As the data will be stored within the EU we must ensure that it is GDPR compliant. GDPR recognises privacy rights for
    data subjects, which allows people control over what data is stored by any entity and what they can do with it. Under
    GDPR there are 8 rights, see below, that a person is entitled to, we must ensure that the management of the system can
    perform these tasks with ease and efficiency. We can do this by providing data editing and deletion functionality and
    including functionality for report generation. We must also provide easy to use functionality to allow the athletes and
    judges place these requests.
   
</p>
<ul>
    <li>The right to be informed – this allows the person to know what data is held where and what it will be used for, how
    long it will be held and who it will be shared with</li>
    <li>The right of access – this allows the person to see all data that is held which relates to them, this is any
    documentation, emails or data stored in a database</li>
    <li>The right to rectification – this allows the person to request that any incorrect data is corrected without undue
    delay</li>
    <li>The right to erasure – this allows the person to request that all data pertaining to them is remove from all sources.
    There is a caveat to this, if the data is required for legal purposes, it does not have to be deleted</li>
    <li>The right to restrict processing – this allows the person to request that their data is not used for processing
    because they believe it is incorrect and it cannot be deleted due to legal requirements</li>
    <li>The right to data portability – this allows the person to request all their data so that they can use it for their own
    purposes or with another entity</li>
    <li>The right to object – This allows the person to request that their data is not used for any purpose other than what is
    specified such as marketing</li>
    <li>Rights in relation to automated decision making and profiling – this allows the person to request that no automated
    decisions are made and that profiling is not used on their data such as when applying for a loan that the automated
    decision making is not used and that an actual person reviews their data
    </li>
</ul>
</div>
<%- include partials/footer.ejs %>