<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="mainTable">
        <h1>
            <%= title %>
        </h1>
        <form action="/" method="post">
           View Athlete Profile

        <a class="btn nftSmallBtn" href="/ViewAthleteBenchmarks"> View Benchmarks </a>
        </form>
    </div>
</body>

</html>