<%- include partials/header.ejs %>

<style>
    .mainTable {
        width: 900px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        color: #26466D;
        background-color: #FFF;
        /*#ECC3BF;*/
    }
    table.SpaciousHalf {
        margin: 35px 50px;
        font-size: 10pt;
        background-color: transparent;
        border: 1pt solid #EDEDED;
    }

    table.SpaciousHalf td {
        padding: 10px;
        vertical-align: top;
        border: 1pt solid #EDEDED;
    }

    table.SpaciousHalf td p {
        padding: 10px;
        border: 1pt solid #EDEDED;
    }

    .spaciousHalfTitleCell {
        width: 120px;
        background-color: transparent;
        padding-left: 5px;
        font-weight: bold;
    }
    
    .previous {
        background-color: #f1f1f1;
        color: black;
    }
    .round {
        border-radius: 50%;
    }
</style>
<form id="mainForm">
<div class="container">
<button class="btn btn-default" type="button"><a href="/athleteProfile">Back</a></button><br /><br />
<table class="SpaciousHalf">
    <tr><td colspan="4" class="spaciousHalfTitleCell">Benchmarks</td></tr>
    <tr>
        <td>Fran:</td>
        <td><input class="form-control" type="text" name="fran" /></td>
        <td>Max Pull-Ups:</td>
        <td><input class="form-control" type="text" name="maxPullUps" /></td>
    </tr>
    <tr>
        <td>Grace:</td>
        <td><input class="form-control" type="text" name="grace" /></td>
        <td>Clean:</td>
        <td><input class="form-control" type="text" name="clean" /></td>
    </tr>
    <tr>
        <td>Helen:</td>
        <td><input class="form-control" type="text" name="helen" /></td>
        <td>Squat:</td>
        <td><input class="form-control" type="text" name="squat" /></td>
    </tr>
    <tr>
        <td>Fight Gone Bad:</td>
        <td><input class="form-control" type="text" name="fightGoneBad" /></td>
        <td>Snatch:</td>
        <td><input class="form-control" type="text" name="snatch" /></td>
    </tr>
    <tr>
        <td>Filthy 50:</td>
        <td><input class="form-control" type="text" name="filthy50" /></td>
        <td>Deadlift:</td>
        <td><input class="form-control" type="text" name="deadlift" /></td>
    </tr>
    <tr>
        <td>Run 5K:</td>
        <td><input class="form-control" type="text" name="run5k" /></td>
        <td>Sprint</td>
        <td><input class="form-control" type="text" name="sprint400" /></td>
    </tr>
    <tr><td colspan="4"><button class="btn btn-primary" type="button">
        <i class="fa fa-save"></i>&nbsp;&nbsp;&nbsp;Save Updates
    </button><br /><br /></td></tr>
</table>
</div></form>
<%- include partials/footer.ejs %>